* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-image: radial-gradient(ellipse at top left, #7f50e4, #4c05d0);
  
}

body {
  margin: 0;
  text-align: center;
  color: #e6ddf9;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b8b7c7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #444df7;
}
